body{
	margin:0;
	padding:0;
	font-family:"Arial", sans-serif;
	font-size:16px;
	line-height:30px;
	color: #404040;
	background-color:white;
	min-width: 1010px;
}
.clearfix::after{
	content:"";
	display:table;
	clear:both;
}
.section-title{
	font-weight: bold;
	font-size: 40px;
	line-height: 61px;
}
.container{
	width: 800px;
	margin: 0 auto;
	/*border: 1px solid purple;*/
}
.page-header{
	background: url("img/wheat-back.jpg") center no-repeat;
	background-color: #6d4712;
	background-size:cover;
	min-height: 550px;
	min-width: 800px;
	padding:0;	
	padding-top:60px;
	/*border:1px solid red;*/
}
.main-nav{
	list-style:none;
	float:left;
	margin: 0;
	padding:0;
	width: 600px;
	margin-left: 50px;
	border-bottom:1px solid #9e7f45;
    border-top:1px solid #9e7f45;	
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 12px;
	
}
.main-nav a{
	text-decoration:none;
	color:white;
	font-weight:bold;
}
.main-nav li{
	float:left;
	margin-right:50px;
	text-transform:uppercase;
}
.main-nav li:last-child{
	margin-right: 0;
}
.promo{
	margin:0;
	padding:0;
	font-weight:bold;
	line-height:70px;
	color:#ffffff;
	font-size:70px;
	text-align:center;
	/*border: 1px solid blue;*/
}
.header-logo{
	float:left;
	height: 75px;
	width:140px;
	/*border: 1px solid yellow;*/
}
.header-logo img{
	height: 75px;
	width:140px;
}
.header-top{
  margin:0;
  padding:0;
  margin-bottom:130px;
  /*border: 1px solid black;*/
  
}
.main-nav a:hover{
	color:#ffcb78;
}
.main-nav a:active{
	color:rgba(255, 203, 120, 0.3);
}

.btn{
 font-family: "Arial", sans-serif;
 font-size:16px;
 line-height:20px;
 text-decoration:none;
 text-transform:uppercase;
 font-weight:bold;
}
.ghost-button{
	color:#834700;
}
.ghost-button:hover{
	color:#6a3900;
}
.ghost-button:active{
	color:rgba(106, 57, 0, 0.3);
}
.brown-button{
  color:#ffffff;
  background-color:#834700;
}
.brown-button:active{
	opacity:0.3;
}
.ghost-button-press{
	color:#000000;
	opacity:0.3;
}
.ghost-button-press:hover{
	color:#ffffff;
}
.ghost-button-press:active{
	color:#ffffff;
	opacity:0.3;
}

.order-form{
	font-weight:bold;
	line-height:20px;
}
.history .history-section{
	font-size:20px;
	font-weight:bold;
}
.history a{
	color:#834700;
}
.history a:hover{
	color:#6a3900;
}
.history a:active{
	color:#cab7a2;
}
.order{
	background-color: #ffcb78;
}
.order-form input,
.order-form textarea{
	background-color:#e5b66c;
	opacity:0.1;
}
.order-form input:hover
.order-form textarea:hover{
	background-color:#d9ad66;
	opacity:0.15;
}
.order-form input:focus,
.order-form textarea:focus{
	background-color:#ffffff;
	color:black;
	opacity:1;
	font-weight: bold;
}
.order-form label:nth-child(-1){
	line-height:auto;
}
.features ul{
	list-style:none;
}
.feature-title{
	font-family:"Arial", serif;
	font-size:20px;
	line-height: 30px;
	font-weight: bold;
}
.features{
	background:#ffcb78;
}
.feature-1{
	background: url(img/icon-brew.png) no-repeat top left;
}
.feature-2{
	background: url(img/icon-matreshka.png) no-repeat top left;
}
.feature-3{
	background: url(img/icon-thumbsup.png) no-repeat top left;
}
.feature-title{
	padding:20px;
}
.feature-item{
	float: left;
	width:205px;
	margin:0;
	margin-right:340px;
}
.feature-item:last-child{
	margin-right: 0;
}
.new-items{
	background: ffffff;
}
.history{
	background:#ffffff;
}
.press{
	background:#ede5d8;
}
.review{
	font-family:"Arial", serif;
	font-weight: bold;
	text-transform: uppercase;
	font-style:normal;
}
.catalog-items tr:nth-child(1){
    font-size:11px;
	color:#999999;
}
.name-product{
	font-family:"Arial", serif;
	font-weight: bold;
	text-transform: uppercase;
	color:#000000;
}
.name-product sup{
	border: 2px solid black;
	border-radius: 3px;
	font-size:8px;
	color:white;
	background:black;
	font-weight: bold;
}
.value{
	font-style:Regular;
	color:#404040;
	text-transform:uppercase;
}
.page-footer{
	background-color:#000000;
	padding:0;
}
.page-footer .copyright{
	font-style:regular;
	font-size:14px;
	line-height:20px;
	color:#989898;
}

.catalog-item{
	float:left;
	width: 400px;
	margin-right:0;
	max-width: 100$;
	height: auto;
}
.new-items{
	margin:0 200px;
}
.catalog-item h3{
	font-weight: bold;
	font-size:40px;
	line-height: 61px;
}
.new-items table{
	border-collapse: collapse;
}
.new-items td {
	line-height: 41px;
	font-weight:bold;
	border:1px solid #e5e5e5;
	padding: 12px 10px;
}

